/*==================================
        SERVICES
==================================*/

.services{

    padding:120px 0;

    background:#F7F9FC;

}

.section-title{

    text-align:center;

    margin-bottom:70px;

}

.section-title span{

    color:#43A047;

    font-weight:700;

    letter-spacing:2px;

}

.section-title h2{

    font-size:52px;

    margin:20px 0;

}

.section-title p{

    max-width:700px;

    margin:auto;

    color:#666;

}

.services-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:35px;

}

.service-card{

    background:#fff;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 15px 40px rgba(0,0,0,.08);

    transition:.35s ease;

}

.service-card:hover{

    transform:translateY(-10px);

}

.service-card img{

    height:240px;

    width:100%;

    object-fit:cover;

    transition:.5s;

}

.service-card:hover img{

    transform:scale(1.08);

}

.service-content{

    padding:30px;

}

.service-content h3{

    font-size:30px;

    margin-bottom:15px;

}

.service-content p{

    color:#666;

    line-height:1.8;

    margin-bottom:25px;

}

.service-content a{

    color:#0057B8;

    font-weight:700;

}

.service-content a:hover{

    color:#43A047;

}
